<%- layout('layouts/main') %>
<br><h3>Bienvenido usuario <%= user.email %> </h3><br>
<h5> En esta pagina puede acceder a la pestaña de Libros, donde puede editar, agregar y eliminar los libros que usted desee</h5>


